<table style="width:100%; font-family:Arial,sans-serif;">
  <tr>
    <td style="padding:20px;">
      <h1 style="color:#333;">The Hive</h1>
      <h2 style="color:#555;">Portfolio {{attributeType}} rejected</h2>
      <p>Hi {{displayName}},</p>
      
      <p>
        Your {{attributeType}}, {{attributeCanonicalName}}, was rejected. Please contact HR at <a href="mailto:hr@bbdsoftware.com" style="text-decoration:none;">hr@bbdsoftware.com</a> to assist you with adding your {{attributeType}} to your portfolio.
      </p>
      
      <p>Thank you,<br>The Hive Team</p>
    </td>
  </tr>
</table>