<html>
  <body>
    <table
      width='100%'
      border='0'
      cellspacing='0'
      cellpadding='0'
      style='{{font}}'
    >
      <tr>
        <td>
          <h1 style='font-size:40pt;'>The Hive </h1>
          <p style='color:#C72026; font-weight:700;margin-bottom:15px;'>{{{context}}}</p>
        </td>
      </tr>
      <tr style='padding-top:15px;'>
        <td>
          {{{message}}}
        </td>
      </tr>
      <tr style='margin-top: 30px;'>
        <td>&nbsp;</td>
      </tr>
      <tr style='margin-top: 40px;'>
        <td width='128' height='128' valign='top'>
          <img src='cid:{{image.name}}' alt='{{image.altText}}' />
        </td>
      </tr>
    </table>
  </body>
</html>