<section>
    <p style='font-weight:500;'>
        {{revieweeName}}'s review is due in {{reviewMonth}}, please could you advise on who you would like to receive feedback from.
    </p>
    <p style='font-weight:500;'>
        You can reply all to this mail or <a href='mailto:{{hrRepEmail}}?subject=Feedback providers for {{revieweeName}}'>click here to inform {{hrRepName}}</a> regarding who should provide feedback. 
    </p>
</section>